h1{
    background-color: yellow;
    border: 2px solid black;
}
 /* @media (width:400px){
    h1{
      background-color: red;  
    }
    #abc{
        width: 100px;
        height: 100px;
        background-color: aqua;
    }
 } */

 @media (min-width: 700px){
    h1{
        background-color: greenyellow;
    }
 }

 @media (max-width: 200px){
    h1{
        background-color: aqua;
    }
 }

 @media (min-width:20px) and (max-width:300px){
    h1{
        background-color: magenta;
    }
 }

 @media (orientation: landscape){
    h1{
        background-color: aqua;
        color: brown;
    }
 }

    