div{
    background-color: yellow;
}
/* form{
    background-color: red;
} */

input{
    background-color: inherit;
}
button{
    background-color: inherit;
}
/* not all element inherit their parent property */

button:hover{
    background-color: red;
}

/* width, height,border,etc are some of the non-inheritable properties */